.heading__h2{
    font-size: 48px;
    font-weight: 700;
}

.semi-bold{
    font-weight: 500;
}

.bold{
    font-weight: 700;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-grey{
    color: $color-grey;
}
.text-primary{
    color: $color-primary;
}
.text-orange{
    color: $color-orange;
}