$color-grey:#8a8a8e;
$color-grey-light:#707070;
$color-grey-300:rgba(60, 60, 67, 0.6);
$color-primary:#172e73;
$color-primary-dark:#233470;
$color-white:#fafcff;
$color-skyblue:#cdd8ef;
$color-orange:#ff901d;


//border
$border-default:1px solid #707070;
$border-primary:1px solid $color-primary;

//background
$background-white:#fafcff;


//shadow
$shadow-small:0 3px 6px 0 rgba(0, 0, 0, 0.16);
$shadow-medium:0 5px 10px 0 rgba(0, 0, 0, 0.18);
$shadow-large:0 10px 20px 0 rgba(0, 0, 0, 0.18);

