@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@import './assets/scss/variable' ;
@import './assets/scss/typography' ;
@import './assets/scss/form' ;
@import './assets/scss/utilities' ;

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}
html{
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
    font-family:  'Cabin',sans-serif;
    font-size: 16px;
    color: $color-grey;
    font-weight: 400;
    background-color: #f6f6f6;
    overflow: auto;
    height:100vh;
}
